{
    "Disable": [
        "goconst",
        "gocyclo",
        "gosec",
        "maligned",
        "megacheck"
    ],
    "Enable": [
        "deadcode",
        "errcheck",
        "golint",
        "gotype",
        "gotypex",
        "ineffassign",
        "interfacer",
        "structcheck",
        "unconvert",
        "varcheck",
        "vet",
        "vetshadow"
    ],
    "Exclude": [
        "don't use underscores in Go names",
        "exported type .+ should have comment or be unexported",
        "should be"
    ]
}